.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.venv/**
.pytest_cache/**
test-samples/**
modi-ji-bhojyam.mp3
*.vsix
